{% extends 'partials/base.html' %}

{% block content %}
  <h2>Login</h2>
  
  <form style="padding:10px;" method="post">
    {% csrf_token %}

    <div style="margin-top: 90px;" class="container bg-light">

        <div style="padding: 10px;" class="form-group">
            <h2 class="text-center">Fill the form to signin</h2>
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>
        <br>
        <div style="padding: 10px" class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>


        <div style="padding: 10px" class="form-group">
          <label for="password">City:</label>
          <input type="text" class="form-control" id="password" name="City">
        </div>

        
        <br>
        <button type="submit" style="margin-bottom: 10px;" class="btn btn-primary">Login</button>
    </div>
  </form>
{% endblock %}